body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  font-family: 'Nanum Myeongjo', serif;
  color: #fff;
  background: #000000;
  scroll-behavior: smooth;
  overflow: hidden;
  cursor: none;
}

.loader-roll {
    --uib-size: 45px;
    --uib-color: white;
    --uib-speed: 2.5s;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: var(--uib-size);
    width: var(--uib-size);
    z-index: 5;
    background-color: rgb(0,0,0,0);
}

.slice {
    position: relative;
    height: calc(var(--uib-size) / 6);
    width: 100%;
    background: none;
}

    .slice::before,
    .slice::after {
        --uib-a: calc(var(--uib-speed) / -2);
        --uib-b: calc(var(--uib-speed) / -6);
        content: '';
        position: absolute;
        top: 0;
        left: calc(50% - var(--uib-size) / 12);
        height: 100%;
        width: calc(100% / 6);
        border-radius: 50%;
        background-color: var(--uib-color);
        flex-shrink: 0;
        animation: orbit var(--uib-speed) linear infinite;
        transition: background-color 0.3s ease;
    }

    .slice:nth-child(1)::after {
        animation-delay: var(--uib-a);
    }

    .slice:nth-child(2)::before {
        animation-delay: var(--uib-b);
    }

    .slice:nth-child(2)::after {
        animation-delay: calc(var(--uib-a) + var(--uib-b));
    }

    .slice:nth-child(3)::before {
        animation-delay: calc(var(--uib-b) * 2);
    }

    .slice:nth-child(3)::after {
        animation-delay: calc(var(--uib-a) + var(--uib-b) * 2);
    }

    .slice:nth-child(4)::before {
        animation-delay: calc(var(--uib-b) * 3);
    }

    .slice:nth-child(4)::after {
        animation-delay: calc(var(--uib-a) + var(--uib-b) * 3);
    }

    .slice:nth-child(5)::before {
        animation-delay: calc(var(--uib-b) * 4);
    }

    .slice:nth-child(5)::after {
        animation-delay: calc(var(--uib-a) + var(--uib-b) * 4);
    }

    .slice:nth-child(6)::before {
        animation-delay: calc(var(--uib-b) * 5);
    }

    .slice:nth-child(6)::after {
        animation-delay: calc(var(--uib-a) + var(--uib-b) * 5);
    }

@keyframes orbit {
    0% {
        transform: translateX(calc(var(--uib-size) * 0.25)) scale(0.73684);
        opacity: 0.65;
    }

    5% {
        transform: translateX(calc(var(--uib-size) * 0.235)) scale(0.684208);
        opacity: 0.58;
    }

    10% {
        transform: translateX(calc(var(--uib-size) * 0.182)) scale(0.631576);
        opacity: 0.51;
    }

    15% {
        transform: translateX(calc(var(--uib-size) * 0.129)) scale(0.578944);
        opacity: 0.44;
    }

    20% {
        transform: translateX(calc(var(--uib-size) * 0.076)) scale(0.526312);
        opacity: 0.37;
    }

    25% {
        transform: translateX(0%) scale(0.47368);
        opacity: 0.3;
    }

    30% {
        transform: translateX(calc(var(--uib-size) * -0.076)) scale(0.526312);
        opacity: 0.37;
    }

    35% {
        transform: translateX(calc(var(--uib-size) * -0.129)) scale(0.578944);
        opacity: 0.44;
    }

    40% {
        transform: translateX(calc(var(--uib-size) * -0.182)) scale(0.631576);
        opacity: 0.51;
    }

    45% {
        transform: translateX(calc(var(--uib-size) * -0.235)) scale(0.684208);
        opacity: 0.58;
    }

    50% {
        transform: translateX(calc(var(--uib-size) * -0.25)) scale(0.73684);
        opacity: 0.65;
    }

    55% {
        transform: translateX(calc(var(--uib-size) * -0.235)) scale(0.789472);
        opacity: 0.72;
    }

    60% {
        transform: translateX(calc(var(--uib-size) * -0.182)) scale(0.842104);
        opacity: 0.79;
    }

    65% {
        transform: translateX(calc(var(--uib-size) * -0.129)) scale(0.894736);
        opacity: 0.86;
    }

    70% {
        transform: translateX(calc(var(--uib-size) * -0.076)) scale(0.947368);
        opacity: 0.93;
    }

    75% {
        transform: translateX(0%) scale(1);
        opacity: 1;
    }

    80% {
        transform: translateX(calc(var(--uib-size) * 0.076)) scale(0.947368);
        opacity: 0.93;
    }

    85% {
        transform: translateX(calc(var(--uib-size) * 0.129)) scale(0.894736);
        opacity: 0.86;
    }

    90% {
        transform: translateX(calc(var(--uib-size) * 0.182)) scale(0.842104);
        opacity: 0.79;
    }

    95% {
        transform: translateX(calc(var(--uib-size) * 0.235)) scale(0.789472);
        opacity: 0.72;
    }

    100% {
        transform: translateX(calc(var(--uib-size) * 0.25)) scale(0.73684);
        opacity: 0.65;
    }
}


#loading-text-intro {
    z-index: 3;
    position: absolute;
    width: 100vw;
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 100;
    padding-top: 40px;
    color: #f9f0ec;
    background: radial-gradient(circle at center center, #131313 0, #090909 58%);
}

#loading-text-intro.ended {
  transform: translateY(200%);
}

nav {
  width: 100%;
  padding: 1rem;
  position: fixed;
  z-index: 2;
}



span {
  display: inline-block;
  pointer-events: none;
  transition: transform 0.1s linear;
}

.cursor {
  pointer-events: none;
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 10px;
  background-color: #909090ef;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  transition: transform 0.8s ease, opacity 0.6s ease;
  z-index: 2;
}

.cursor:has(.a:hover){
    transform: translate(-50%, -50%) scale(4); opacity: 0.3;
} 

.a {
  display: inline-block;
  color: #fff;
  padding: 1rem;
  margin-right: 4rem;
  letter-spacing: 0.4em;
  font-size: 1.1em;
  transition: all 0.3s ease, color 0.3s ease;
}

nav.header .a:hover {
  cursor: pointer;
  color: rgb(175, 175, 175);
  transform: scale(1.1);
}

nav.header .a:hover ~ .cursor {
  transform: translate(-50%, -50%) scale(5);
  opacity: 0.1;
}

.dg.ac {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 2 !important;
}

#canvas-container-hero {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
  z-index: 0;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: #000;
  background: radial-gradient(circle at center center, #171717 0, #050505 58%);
}

#canvas-container-neurophones {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
  z-index: 0;
  height: 100%;
  width: 100%;
  background: #232323;
  margin: 0;
  padding: 0;
  pointer-events: all;
  overflow: hidden;
}

#canvas-container-plugin {
  pointer-events: none;
  position: absolute;
  top: 0;
  
  outline: none;
  z-index: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  pointer-events: all;
  overflow: hidden;
  background: #151515;
  background: radial-gradient(circle at center center, #171717 0, #050505 58%);
}

.section {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
  z-index: 1;
  width: 65%;
  height: 100vh;
  pointer-events: none;
}

.header {
  position: absolute;
  top: -2em;
  left: 0;
  color: #fff;
  font-size: 0.8em;
  width: 100%;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  z-index: 2;
  opacity: 0;
  transition: all 1.9s ease-in-out;
  padding: 0;
  margin: 0;
  
}

.header.ended {
  top: 3em;
  opacity: 1;
}

.header span {
  padding: 0 3.25em;
  letter-spacing: 0.4em;
  position: relative;
}

.header span .active:after,
.hero {
  position: absolute;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}

.header span .active:after {
  content: '';
  bottom: -10px;
  width: 20px;
  height: 2px;
  background: #fff;
}



.hero {
    font-family: 'Nanum Myeongjo', serif;
    color: #fff;
    visibility: visible;
    left: 50%;
    transform: translate3d(-50%,0,0);
    pointer-events: none;
    font-size: 2em;
    letter-spacing: .5em;
    text-align: center;
    width: 100%;
    display: flex;
    height: 100vh;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    user-select: none;
    position: relative;
    z-index: 1;
    background: linear-gradient(0deg, rgba(5,5,5,1) 20%, rgba(5,5,5,0) 50%);

  }

.hero h2 {
  font-size: 1em;
  line-height: 0;
  font-weight: 100;
  letter-spacing: 0.25em;
  font-style: italic;
  margin: 35px;
}

.hero h1 {
  
  
  letter-spacing: 0.4em;
}

.hero h1:after {
  content: '';
  position: absolute;
  margin-top: 125px;
  left: calc(50% - 25px);
  width: 50px;
  height: 3px;
  background: #ffffff70;
}

.hero p {
  font-size: 22px;
  letter-spacing: 0px;
  font-family: system-ui;
  width: 780px;
  line-height: 28px;
  font-weight: lighter;
  margin-top: 70px;
  margin-bottom: 100px;
  color: #c9c9c996;
  opacity: 0;
  transition: all 3.9s ease-in-out;
}

.hero p.ended {
  opacity: 1;
  
}



.text-container {
  text-align: left;
}

.textQ {
    line-height: 1.5;
}


.neurophones {
  pointer-events: all;
  font-size: 2em;
  width: 100%;
  display: flex;
  height: 100vh;
  background: #141414;
  z-index: 1;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.neurophones-container {
  pointer-events: all;
  width: 100%;
  
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0 10%;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  background: radial-gradient(
    circle at 80% center,
    rgba(5, 5, 5, 0) 30%,
    #141414 70%
  );
}

.neurophones-container ul {
  list-style: none;
  display: inline-flex;
  padding: 0px;
  margin: 0px 0px 30px 60px;
  height: 60px;
  font-family: 'DM Serif Display', serif;
  color: #ffffff1c;
  z-index: 2;
}

.neurophones-container ul > li.active:after {
  content: '';
  top: 20px;
  width: auto;
  height: 2px;
  background: #fff;
  position: relative;
  left: 0px;
  display: block;
}

.neurophones-container ul > li {
  padding-right: 10px;
  transition: all 0.8s ease-out;
}

    .neurophones-container ul > li:hover {
        color: whitesmoke;
        pointer-events: all;
        cursor: pointer;
        transform: scale(1.2);
    }

.neurophones-container ul > li:hover ~ nav.header.ended.cursor {
  transform: translate(-50%, -50%) scale(5);
  opacity: 1;
}

    .neurophones-container ul > li.active {
        color: whitesmoke;
        padding-right: 10px;
    }

.neurophones-container p {
  font-size: 24px;
  font-family: sans-serif;
  line-height: 28px;
  width: 30%;
  color: #6a6a6a;
  margin-left: 60px;
  height: 30px;
}



.plugin {
  pointer-events: all;
  width: 95%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: none;
  z-index: 1;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

.plugin-container {
    width: 65%;
    z-index: 2;
    
}

.plugin-frame {
  display: grid;
	grid-template-columns: repeat(2, 1fr);
	position: relative;
	width: 100%;
	height: 100%;
	
	justify-content: center;
	align-items: center;
	
    border-radius: 10px;

}

.pleft {
  
align-content: center;  
}

.pright{
  

  padding: 20px;
	background: url("plugin2.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
    border-radius: 12px;
}

.plugin-container h1 {
    font-size: 5vw;
    letter-spacing: 0.7px;
    color: whitesmoke;
    padding: 0;
    text-align: center;
}

.plugin-container hr {
  width: 10%;
  height: 3px;
  margin: 0;
  background-color: whitesmoke;
  border: none;
}

.plugin-container p {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 100;
    line-height: 28px;
    height: 180px;
    text-align: center;
    margin-top: 1.5rem;
    padding-left: 10px;
    color: #988f8f;
    justify-content: center;
}



/* //////////////////////////////////////////////// */
/* play button */

.play-btn {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
    list-style: none;
    display: inline-flex;
    padding: 0px;
    font-family: 'DM Serif Display', serif;
    z-index: 2;
    
}

.play-btn:hover {
    
}




/*///////////////////////////////////////////////////////////*/

.containerP {
    --color: #a5a5b0;
    --size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding-left: 12px;
    font-size: var(--size);
    user-select: none;
    fill: var(--color);
    
}

    .containerP:hover {
        --color: #ddd;
        --size: 35px;
        
    }


#cochlearSound {
    background: #444444;
    transition: all 0.3s ease-in-out 0s;
    box-shadow: rgba(193, 244, 246, 0.698) 0px 0px 0px 0px;
    border: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    width: 50px;
    height: 60px;
    filter: drop-shadow(0 0 5px var(--color));
}

#cochlearSound:is(:hover, :focus) {
    transform: scale(1.2);
}

@keyframes pulse {
    100% {
        box-shadow: 0 0 0 45px rgba(193,244,246,0);
    }
}



    .containerP .play {
        position: absolute;
        animation: keyframes-fill .5s;
    }

    .containerP .pause {
        position: absolute;
        display: none;
        animation: keyframes-fill .5s;
    }


    .containerP input:checked ~ .play {
        display: none;
    }

    .containerP input:checked ~ .pause {
        display: block;
    }


    .containerP input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }


    @keyframes keyframes-fill {
        0% {
    transform: rotate(-180deg) scale(0);
    opacity: 0;
  }

  50% {
    transform: rotate(-10deg) scale(1.2);
  }
}   


/* //////////////////////////////////////////////// */
/* RADIO BUTTONS */




/*////////////////////////////////////////////////*/
/* GENERAL */

.Radio {
    visibility: hidden;
}

.bodyR {
    width: 15%;
    margin-left: 60px;
}

.app {
    margin-top: 30px;
}



/* Main Circle */
.main-circle {
    width: 40rem;
    height: 40rem;
    border-radius: 100%;
    background: linear-gradient(40deg, #FF0080,#FF8C00 70%);
    position: absolute;
    z-index: 1;
    left: 50%;
    -webkit-transform: translate(-50%, -70%);
    -ms-transform: translate(-50%, -70%);
    transform: translate(-50%, -70%)
}

/* Phone */
.phoneR {
    position: relative;
    z-index: 2;
    width: 18rem;
    height: 17rem;
    background: rgba(82, 63, 118, 0.29);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
    -webkit-box-shadow: 0 4px 35px rgba(1,1,1,.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.Radio p {
    color: aliceblue;
    background-color: white;
}



/* Top */
.menu {
    /*   background-color: blue; */
    font-size: 80%;
    opacity: .4;
    padding: .8rem 1.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}



/* Middle */
.contentR {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: auto;
    text-align: center;
    width: 70%;
    -webkit-transform: translateY(5%);
    -ms-transform: translateY(5%);
    transform: translateY(5%);
}

    


.circle {
    position: relative;
    border-radius: 100%;
    width: 8rem;
    height: 8rem;
    background: linear-gradient(40deg, #2d206fe4,#2a6998 70%);
    margin: auto;
    align-items: center;
}

.crescent {
    position: absolute;
    border-radius: 48%;
    right: 0;
    width: 8.1rem;
    height: 8.1rem;
    background: #26242e;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-transition: -webkit-transform .6s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: -webkit-transform .6s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform .6s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform .6s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform .6s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.checkbox {
    margin-top: 10px;
    width: 210px;
    height: 60px;
    background-color: #2c2c2c;
    border-radius: 30px;
    position: relative;
    color: azure;
    font-family:'Chaparral Pro', serif;
    font-size: 34px;
    overflow: hidden;
    
}

.svgR {
    position: absolute;
    top: 10px;
    left: 10px;
}

#checkbox_toggle {
    display: none;
}

.checkbox .toggle {
    width: 100px;
    height: 50px;
    position: absolute;
    border-radius: 30px;
    left: 5px;
    cursor: pointer;
    background: linear-gradient(40deg, #8983F745, #A3DAFB35 70%);
    transition: 0.4s;
    box-shadow: 0px 0px 3px rgb(126, 208, 236), 0px 0px 5px rgb(126, 208, 236);
}

.checkbox .slide {
    width: 205px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

    .checkbox .slide .text {
        font-size: 16px;
        font-weight: 700;
        z-index: 100;
        cursor: pointer;
        padding-top: 5px;
    }

.check:checked + .checkbox .slide .toggle {
    transform: translateX(113px);
    background: linear-gradient(40deg, #8983F7, #A3DAFB 70%);
    box-shadow: -0px -0px 10px #8983F7, -0px -0px 3px #8983F7;
}

.check:checked + .checkbox .slide {
    background-color: #6F6F6F;
    color: #fff;
}

.check:checked + .slide #svgS {
    display: block; /* Show svg1 when toggle is checked */
}

.check:checked + .slide #svgM {
    display: none; /* Hide svg2 when toggle is checked */
}
/* -------- Switch Styles ------------*/
/*[type="checkbox"] {
    display: none;
}*/
    /* Toggle */
    [type="checkbox"]:checked + .app .toggle {
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        background-color: #34323D;
    }

    [type="checkbox"]:checked + .app .dark {
        opacity: 1;
        color: white;
    }

    [type="checkbox"]:checked + .app .light {
        opacity: 1;
        color: white;
    }
    /* App */
    [type="checkbox"]:checked + .app .bodyR {
        
        color: white;
    }
    /* Circle */
    [type="checkbox"]:checked + .app .crescent {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        background: #26242E;
    }

    [type="checkbox"]:checked + .app .circle {
        background: linear-gradient(40deg, #8983F7, #A3DAFB 70%);
    }

    [type="checkbox"]:checked + .app .main-circle {
        background: linear-gradient(40deg, #8983F7, #A3DAFB 70%);
    }

    

    [type="checkbox"]:checked + .app .bodyR {
        border-radius: 40px;
        
    }

.menu {
    /*   background-color: blue; */
    font-size: 80%;
    opacity: .4;
    padding: .8rem 1.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


/*//////////////////////////////////////////////////////////////*/




.btn-conteiner {
    display: flex;
    justify-content: center;
    --color-text: #ffffff;
    --color-background: #ff135a;
    --color-outline: #ff145b80;
    --color-shadow: #00000080;
}

.btn-content {
    display: flex;
    align-items: center;
    padding: 5px 30px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: var(--color-text);
    background: var(--color-background);
    transition: 1s;
    border-radius: 100px;
    box-shadow: 0 0 0.2em 0 var(--color-background);
}

    .btn-content:hover, .btn-content:focus {
        transition: 0.5s;
        -webkit-animation: btn-content 1s;
        animation: btn-content 1s;
        outline: 0.1em solid transparent;
        outline-offset: 0.2em;
        box-shadow: 0 0 0.4em 0 var(--color-background);
    }

    .btn-content .icon-arrow {
        transition: 0.5s;
        margin-right: 0px;
        transform: scale(0.6);
    }

    .btn-content:hover .icon-arrow {
        transition: 0.5s;
        margin-right: 25px;
    }

.icon-arrow {
    width: 20px;
    margin-left: 15px;
    position: relative;
    top: 6%;
}

/* SVG */
#arrow-icon-one {
    transition: 0.4s;
    transform: translateX(-60%);
}

#arrow-icon-two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.btn-content:hover #arrow-icon-three {
    animation: color_anim 1s infinite 0.2s;
}

.btn-content:hover #arrow-icon-one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.btn-content:hover #arrow-icon-two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
    0% {
        fill: white;
    }

    50% {
        fill: var(--color-background);
    }

    100% {
        fill: white;
    }
}

/* Button animations */
@-webkit-keyframes btn-content {
    0% {
        outline: 0.2em solid var(--color-background);
        outline-offset: 0;
    }
}

@keyframes btn-content {
    0% {
        outline: 0.2em solid var(--color-background);
        outline-offset: 0;
    }
}


.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 100%;
  opacity: 1;
  font-family: sans-serif;
  font-size: 11px;
  transition: all 0.8s ease-out 1.1s;
  bottom: 0;
  color: #d7d7d7;
  font-weight: 100;
  opacity: 0.2;
  text-align: center;
}

.footer a {
  text-decoration: none;
  pointer-events: auto;
  color: #d7d7d7;
}


@media only screen and (max-width: 660px) {
  .cursor {
    display: none;
  }

  #canvas-container-euphre {
    left: 0;
  }

  .a {
    padding: 10px;
    margin-right: 0rem;
    letter-spacing: 0.3em;
  }

  .footer {
    margin-bottom: 20px;
  }

  .header span {
    padding: 0 1em;
  }

  .header {
    font-size: 0.6em;
  }

  .main-section .product-display h3 {
    width: 260px;
    font-size: 42px;
    margin-left: 30px;
    line-height: 45px;
  }

  .hero h1 {
    margin: 10px 0;
    font-weight: 100;
    letter-spacing: 0.2em;
    font-size: 10vw;
  }

  .hero p {
    width: 85%;
    line-height: 22px;
  }

  .neurophones-container {
    padding: 2rem;

    justify-content: flex-end;
  }

  .neurophones-container ul {
    margin: 0px 0px 30px 30px;
    width: 42px;
    
  }

  .neurophones-container ul > li {
   
    
    transition: all 0.8s ease-out;
    font-size: 30px;
  }

    .neurophones-container ul > li.active:after {
        width:42px;
    }

  .neurophones-container p {
    width: 85%;
    margin-left: 30px;
    line-height: 21px;
    margin-bottom: 40px;
  }


  #audiobtns {
    margin-left: 30px;
  }

    .title {
        font-size: 34px;
        line-height: 51px;
        padding-left: 0px;
    }

  .Radio {
      margin-bottom: 60px;
  } 
  
  #cochlearSound {
      width: 50px;
    
  }
    
  .plugin-container {
    width: 100%;
    margin-left: 0;
    justify-content: center;
  }

  .plugin-container h1 {
    margin: 20px;
    font-size: 5vw;
  }
    .plugin-frame h1 {
        margin: 20px;
        padding-bottom: 80px;
        font-size: 10vw;
    }

  .plugin-container hr {
    margin: 0 28px;
  }

  .plugin-container p {
    width: 85%;
    margin-left: 28px;
    line-height: 21px;
    margin-bottom: 40px;
  }

  .plugin-container{
        padding: 50px;
    }
	.plugin-frame{
		grid-template-columns: 1fr;
	}
	.pleft{
		height: 400px;
	}
}

#bound-one {
	background: none;
}

.scroll-bound {
	height: 600vh;
	
	.content {
		height: 100vh;
		width: 100%;
		position: sticky;
		top:0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	video {
		width: 80%;
	}
}

.video-background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
}

#containerV {
  height: 500vh;
  background: none;
}

.point
{
    position: absolute;
    top: 50%;
    left: 50%;
}

.point .label
{
    position: absolute;
    top: -20px;
    left: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #00000077;
    border: 1px solid #ffffff77;
    color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    line-height: 40px;
    font-weight: 100;
    font-size: 14px;
    
    cursor: help;
    transform: scale(0, 0);
    transition: transform 0.3s;
}

.point.visible .label
{
    transform: scale(1, 1);
}

.point .text
{
    position: absolute;
    top: 30px;
    left: -120px;
    width: 200px;
    padding: 20px;
    border-radius: 8px;
    background: #00000077;
    border: 1px solid #ffffff77;
    color: #ffffff;
    line-height: 1.3em;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 14px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}

.point:hover .text
{
    opacity: 1;
}


.box {
    
    width: 30px; /* Adjust size as per your icon's size */
    height: 30px; /* Adjust size as per your icon's size */
    background-image: linear-gradient(45deg, #4a90e2, #9013fe); /* Gradient colors */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Shadow for depth */
    display: flex; /* Flex display to center content */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    color: white; /* Text color */
    font-size: 24px; /* Font size */
    font-weight: bold; /* Font weight */
    position: absolute;
    

}


.wrapper {
    display: flex;
    z-index:999;
}

.demo-text {
    font-size: clamp(6rem, 11vw, 12rem);
    line-height: 1;
    font-weight: 900;
    margin-top: 90px;
    position: absolute;
    z-index: 999;
    color:#A9A9A9;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; /* Ensure text appears above canvas */
    text-align: center; /* Center text horizontally */
    color: white; /* Example text color */
}

.roller {
    overflow-x: hidden;

}

.roller__inner {
    width: auto;
    padding: 30px 100px;
    background: grey;
    white-space: nowrap;
    font-size: clamp(8rem, 15vw, 16rem);
    line-height: 1;
    font-weight: 900;
}






.box2 {
    position: relative;
    width: 17vw;
    padding-bottom: 30%;
    margin-right: 24px;
    background: black;
    flex-shrink: 0;
    display: inline-block;
}

.canvas-containerV {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 30px;
    line-height: 74px;
    padding-left: 40px;
    padding-top: 500px;
}

.hero__content {
    display: none;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;  

}

.hero__headline {
    --padding: 1.5vmin;
    --duration: 400ms;
    --delay: calc(var(--duration) / 2);
    --ease: cubic-bezier(0.25, 1, 0.5, 1);
    position: relative;
    display: inline-block;
    font-size: 6vmin;
    font-family: fantasy;
    overflow: hidden;
    margin-top: calc(var(--padding) * -1);
    padding: var(--padding);
    -webkit-text-stroke: 1px white;
    color: black;
    text-shadow: 3px 3px 0 #6a6a6a, -1px -1px 0 #6a6a6a, 1px -1px 0 #6a6a6a, -1px 1px 0 #6a6a6a, 1px 1px 0 #000;
}

    .hero__headline::after {
        content: "";
        position: absolute;
        top: calc(100% - var(--padding));
        left: 0;
        background-color: #6a6a6a;
        width: 100%;
        height: 1.5vmin;
        transform: scaleX(0);
        transition: transform var(--duration) var(--delay) var(--ease);
    }

    .hero__headline span {
        display: block;
        transform: translateY(110%);
        transition: transform var(--duration) var(--ease);
    }

.active .hero__headline::after {
    transform: scaleX(1);
    transition-delay: 0s;
}

.active .hero__headline span {
    transform: translateY(0);
    transition-delay: var(--delay);
}
 

.sec5Tit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    font-size: 40px;
    line-height: 32px;
    text-shadow: 0 0 30px white;
    margin-top: 18vh;
}



.secContact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
    padding-bottom: 20px;
    gap: 20px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
}

.secPhone {
    
    height: 40px;
    border-radius: 10px;
    box-shadow: 1px 0 10px 0 rgb(216, 0, 220);
    background: linear-gradient( 132deg, #6424dc, #f80759, #ff9318 );
    background-size: 300%;
    background-position: 0;
    animation: moveGradient 8s alternate infinite;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

    .secPhone::after {
        content: "";
        position: absolute;
        
        height: 34px;
        margin: 0 3px 0 42px;
        border-radius: 8px;
        background-color: black;
    }

.phone {
    width: 25px;
    height: 26px;
    margin-left: 11px;
    margin-right: 11px;
    background: url("../static/icons/whatsapp2.png") no-repeat;
    background-size: cover;
    z-index: 10;
}

.secPhone:hover {
    box-shadow: 0px 0 15px 0 rgb(255, 145, 0);
}

    .secPhone:hover .phone {
        filter: invert(100%);
    }

.secPhone:active {
    scale: 0.9;
}

.phoneNumber {
    z-index: 10;
}

.secMail {
    width: 200px;
    height: 40px;
    border: none;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 1px 0 10px 0 rgb(216, 0, 220);
    background: linear-gradient( 132deg, #ff9318, #f80759, #6424dc );
    background-size: 300%;
    background-position: 0;
    animation: moveGradient 8s alternate infinite;
}

    .secMail:hover {
        font-weight: bolder;
        box-shadow: 0px 0 15px 0 rgb(255, 145, 0);
    }

    .secMail:active {
        scale: 0.9;
    }

.mail {
    width: 30px;
    height: 30px;
    background: url("../static/icons/icon-envelope-64.png") no-repeat;
    background-size: cover;
}

.secLink {
    height: 40px;
    border-radius: 10px;
    box-shadow: 1px 0 10px 0 rgb(216, 0, 220);
    background: linear-gradient( 132deg, #6424dc, #f80759, #ff9318 );
    background-size: 300%;
    background-position: 0;
    animation: moveGradient 8s alternate infinite;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

    .secLink::after {
        content: "";
        position: absolute;
        height: 34px;
        margin: 0 3px 0 42px;
        border-radius: 8px;
        background-color: black;
    }

.link {
    width: 25px;
    height: 25px;
    margin-left: 11px;
    margin-right: 11px;
    background: url("../static/icons/icon-linkedin-50.png") no-repeat;
    background-size: cover;
    z-index: 10;
}

.secLink:hover {
    box-shadow: 0px 0 15px 0 rgb(255, 145, 0);
}

    .secLink:hover .link {
        filter: invert(100%);
    }

.secLink:active {
    scale: 0.9;
}

.secGit {
    height: 40px;
    border-radius: 10px;
    box-shadow: 1px 0 10px 0 rgb(216, 0, 220);
    background: linear-gradient( 132deg, #6424dc, #f80759, #ff9318 );
    background-size: 300%;
    background-position: 0;
    animation: moveGradient 8s alternate infinite;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

    .secGit::after {
        content: "";
        position: absolute;
        height: 34px;
        margin: 0 3px 0 42px;
        border-radius: 8px;
        background-color: black;
    }

.git {
    width: 25px;
    height: 25px;
    margin-left: 11px;
    margin-right: 11px;
    background: url("../static/icons/icon-github-64.png") no-repeat;
    background-size: cover;
    z-index: 10;
}

.secGit:hover {
    box-shadow: 0px 0 15px 0 rgb(255, 145, 0);
}

    .secGit:hover .git {
        filter: invert(100%);
    }

.secGit:active {
    scale: 0.9;
}

.secSocial {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.social {
    width: 25px;
    height: 25px;
    border-radius: 5px;
}

    .social:nth-of-type(1) {
        background: url("../static/icons/icon-linkedin-50.png") no-repeat;
        background-size: cover;
        filter: invert(39%) sepia(57%) saturate(2362%) hue-rotate(297deg) brightness(101%) contrast(101%);
    }

    .social:nth-of-type(2) {
        background: url("../static/icons/icon-github-64.png") no-repeat;
        background-size: cover;
        filter: invert(54%) sepia(80%) saturate(935%) hue-rotate(347deg) brightness(101%) contrast(103%);
    }

    

    .social:hover {
        filter: invert(48%) sepia(64%) saturate(995%) hue-rotate(17deg) brightness(102%) contrast(101%);
        scale: 1.1;
        box-shadow: 0px 0 15px 0 black;
    }

    .social:active {
        filter: invert(100%);
        scale: 0.9;
    }

.nextButton1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 24px;
    margin-bottom: 20vh;
}

.nextButton2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30px;
    scale: 0.6;
}

.next {
    width: 2px;
    height: 24px;
    border-radius: 1px;
    background: inherit;
    box-shadow: inherit;
    animation: next 2s infinite;
    rotate: -45deg;
    opacity: 0;
    border: red solid 1px;
}

    .next::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 24px;
        height: 2px;
        background: inherit;
        box-shadow: inherit;
    }

    .next:nth-of-type(1) {
        background: rgb(189, 255, 123);
        box-shadow: 0px 0 5px 2px rgba(128, 255, 0, 0.725);
    }

    .next:nth-of-type(2) {
        background: rgb(255, 214, 117);
        box-shadow: 0px 0 5px 2px rgba(255, 203, 80, 0.725);
        translate: 0 -3px;
        animation-delay: 0.15s;
    }

    .next:nth-of-type(3) {
        background: rgb(255, 128, 185);
        box-shadow: 0px 0 5px 2px rgba(255, 80, 159, 0.725);
        translate: 0 -6px;
        animation-delay: 0.3s;
    }

@keyframes next {
    50% {
        opacity: 1;
    }
}

#section5 {
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}


#content1 {
    transition: opacity 1s 0.1s, translate 1s cubic-bezier(0.13, 0.07, 0.26, 0.99);
}